<p style="padding: 10px 5%;">
かつて静かな観光地として知られていた<br>
「サイレントヒル」の歴史を後世に伝えるために設立された資料館。<br>
その活動内容や収蔵資料をご覧いただけます。<br>
</p>

<a href="https://www.silenthill-historicalsociety.com/ja/">資料館公式サイトへ</a>

<div style="text-align: left; padding: 10px 5%;">
    <p>これは『SILENT HILL 2』のリメイク版発売を記念しコナミが第四境界とコラボして制作したWebサイト探索ゲームです。</p>
    <p>
        この「歴史資料館」には複数の隠しページが存在し、そのうちの7つには“命を懸けたある男の告発文”が隠されています。<br>
        もしも告発文のページを見つけてしまった場合、すぐに引き返すことをオススメいたします。<br>
        深入りをしてしまうと、何かしらの事件に巻き込まれてしまう可能性があります。
    </p>
    <p>
        このサイトは非公式の攻略サイトであり、隠しページや仕込まれた謎のヒント・解説を掲載しています。行き詰まった時にご利用ください。<br>
        また、第四境界には公式Discordサーバーが存在し、歴史資料館専門の雑談チャンネルもあります。以下のリンクより是非ご参加ください。
    </p>
    <a href="https://discord.gg/CgmPzZuVSf">参加する</a>

    <h2>『SILENT HILL 2』について</h2>
    <p>
        『SILENT HILL 2』は2001年にコナミが発売したホラーゲームで、『SILENT HILL』シリーズの2作目です。<br>
        アメリカの田舎町「サイレントヒル」を探索し、謎を解き、襲い来る怪物を倒し、道を切り拓いて、物語を紐解いていきましょう。<br>
        2024年10月8日にリメイク版が発売されました。
    </p>
    <a href="https://www.konami.com/games/silenthill/2r/jp/ja/">リメイク版公式サイト</a>

    <h2>「第四境界」について</h2>
    <p>
        「第四境界」は、現実と仮想の間の曖昧な領域に物語を紡ぎ出すクリエイター集団です。<br>
        代表作には、Project:;COLD、人のシリーズ、かがみの特殊少年更生施設などがあります。
    </p>
    <a href="https://www.daiyonkyokai.net/">公式サイト</a>
</div>
