<p style="padding: 10px 5%;">
The Silent Hill Historical Society is a museum dedicated to preserving the rich history and culture of "Silent Hill", once known as a quiet tourist spot, for future generations.<br>
You can view its activities and collection materials.
</p>

<a href="https://www.silenthill-historicalsociety.com/">Go to the museum official website</a>

<div style="text-align: left; padding: 10px 5%;">
    <p>This is a website exploration game created by Konami in collaboration with the Fourth Boundary to commemorate the release of the remake of "SILENT HILL 2".</p>
    <p>
        There are hidden pages on this "Historical Society" website, seven of which contain the "accusations of a man who risked his life".<br>
        If you find a page with accusations, you had better turn back immediately.<br>
        If you go deeper, you may end up in some kind of incident.
    </p>
    <p>
        This site is an unofficial guide and contains hints and explanations for hidden pages and planted riddles. Please use this site if you get stuck.<br>
        The Fourth Boundary also has an official Discord server, which includes a channel dedicated to Historical Society. Let's join us at the link below.
    </p>
    <a href="https://discord.gg/CgmPzZuVSf">Join the Discord server</a>

    <h2>About "SILENT HILL 2"</h2>
    <p>
        "SILENT HILL 2" is a 2001 survival horror game published by Konami, the second installment in the "SILENT HILL" series.<br>
        Let's explore the rural American town "Silent Hill", solve riddles, defeat the monsters that attack you, and clear a path to unravel the story.<br>
        A remake will be released on October 8, 2024.
    </p>
    <a href="https://www.konami.com/games/silenthill/2r/gate">Official website of the remake</a>

    <h2>About "The Fourth Boundary"</h2>
    <p>
        "The Fourth Boundary" are a collective of creators who weave stories in the ambiguous realm between reality and the virtual.<br>
        Some of their best-known works include Project:;COLD, someone's series, and Kagamino special juvenile detention center.
    </p>
    <a href="https://www.daiyonkyokai.net/">Official website</a>
</div>
